body {
    background-image: url("/assets/rainBG.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.boxesGrid {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem 20rem;
    grid-template-rows: 8rem 20rem 25rem;
    gap: 15px;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.marginBoxes {
    margin-left: 20rem;
}

.searchBar {
    grid-row: 1;
    grid-column: 2/span 2;
    background-color: #24222280;
    opacity: 90%;
    width: 100%;
    height: 7rem;
    margin-left: 10rem;
}

.searchContainer {
    margin-top: 30px;

}

.searchCityFont {
    font-size: 30px;
    color: lightgrey;
    outline: none;
    background-color: transparent;
    width: 13rem;
    border: none;
}

.favoriteBox {
    background-color: black;
    opacity: 75%;
    grid-row: 1;
    grid-column: 5;
    width: 100%;
    border-radius: 20px;
    height: 80%;
    padding-left: 15px;
}

.favoriteFont {
    font-size: 45px;
    font-weight: 300;
    color: white;
    margin-top: 19px;
}

.favoriteMarg {
    margin-top: 15px;
}

.mondayBox {
    background-color: black;
    opacity: 75%;
    grid-row: 2;
    grid-column: 1/span 5;
    width: 100%;
    border-radius: 30px;
    padding: .5rem;
}

.tuesdayBox {
    background-color: black;
    opacity: 75%;
    grid-row: 3;
    grid-column: 1;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
}

.wednsdayBox {
    background-color: black;
    opacity: 75%;
    grid-row: 3;
    grid-column: 2;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
}
.thursdayBox {
    background-color: black;
    opacity: 75%;
    grid-row: 3;
    grid-column: 3;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
}

.fridayBox {
    background-color: black;
    opacity: 75%;
    grid-row: 3;
    grid-column: 4;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
}

.saturdayBox {
    background-color: black;
    opacity: 75%;
    grid-row: 3;
    grid-column: 5;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
}

.sunWidth {
    width: 13rem;
    margin-left: 2rem;
}

.DOWfont {
    font-size: 45px;
    color: white;
    margin-left: 4rem;
    font-weight: 300;
}

.DegreeBtnColor {
    background-color: darkgray;
    width: 3rem;
    height: 3rem;
    font-size: 20px;
}

.MondayBoxGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.highLowFont {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.tempFont {
    font-size: 45px;
    color: white;
    font-weight: 300;
}
.AlignCity{
    margin-left: 10rem;
}
.lineHeight{
    line-height: .8;
}
.tempMarg{
    margin-right: 10rem;
}
.monGrid1{
    grid-column: 1;
    grid-row: 1;
}
.monGrid2{
   grid-column: 2;
    grid-row: 1;
}
.monGrid3{
    grid-column: 3;
    grid-row: 1;

}
.monGrid4{
    grid-column: 4;
    grid-row: 1;
}
.monGrid5{
    grid-column: 5;
    grid-row: 1;
}
.monGrid5{
    grid-column: 5;
    grid-row: 1;
}
.margDown{
    margin-top: 4rem;
}
.cityFont{
    font-size: 55px;
    color: white;
    font-weight: 400;
  
}
.centerBoxes{
    text-align: center;
}
.LHflex{
    display: flex;
    margin-left: 1rem;
    gap: 7rem;
}
.moveMondayTempRight{
    margin-left: 2rem;
}
.alignFav{
    display: flex;
}
.starWidth{
    width: 60px;
    height: 60px;
}